<%- include("../partials/header") %>
<!-- <div class="ui inverted container">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <div class="ui icon header">
          <a href=""
            ><img
              src="https://aptitude.brainkart.com/media/subject/article-Analog-and-Digital-E-9TZ.jpg"
              alt="Loading Image..."
          /></a>
          Analog and Digital Electronics
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui icon header">
          <a href=""
            ><img
              src="https://cdn-media-1.freecodecamp.org/images/1*s6hhrgR5_tXpO_j7uKaHMw.png"
              alt="Loading Image..."
          /></a>
          Data Structures
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui icon header">
          <a href=""
            ><img
              src="https://miro.medium.com/max/1024/1*nwVMize4N5Ann3c5tIWe1w.jpeg"
              alt="Loading Image..."
          /></a>
          Object Oriented Programming
        </div>
      </div>
    </div>
  </div>
</div> -->
<%- include("partials/footer") %>