/* body {
  background-color: rgb(34, 34, 34);
  color: antiquewhite; 
} */
img {
  height: 200px;
  width: 100%;
}
.right_allign{
  text-align-last: right;
}
.deleteForm{
  display: inline;
}

.well{
  margin: 10px 0px;
}